<div class="card text-center m-3">
  <h3 class="card-header">Uploaded Files</h3>
  <div class="card-body">
    <table class='table table-striped' aria-labelledby="tableLabel">
      <thead>
      <tr>
        <th>Id</th>
        <th>File Name</th>
        <th>Size</th>
        <th>Date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let file of files">
        <td>{{ file.id }}</td>
        <td>{{ file.fileName }}</td>
        <td>{{ (file.fileSizeInBytes / 1024).toFixed(2) + " kB" }}</td>
        <td>{{ file.uploadDate }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer pb-0 pt-3">

    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item first-item">
        <a (click)="loadPage(1)" class="page-link">First</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item previous-item">
        <a (click)="loadPage(pager.currentPage-1)" class="page-link">Previous</a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item number-item">
        <a (click)="loadPage(page)" class="page-link">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item next-item">
        <a (click)="loadPage(pager.currentPage+1)" class="page-link">Next</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item last-item">
        <a (click)="loadPage(pager.totalPages)" class="page-link">Last</a>
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h3>Choose File</h3>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input type="file" name="image" (change)="onFileSelect($event)" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
